/*VARIABLES*/
body {
  margin: 0 auto;
  width: 1440px;
  height: 1552px;
}

/*NAV*/
nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.logo {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
}

.logo img {
  margin-right: 9px;
}

.logo h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

nav ul {
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
}

nav .hamburger {
  display: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

/*MAIN*/
.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}

.splash {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.splash .splash-description {
  font-family: "Rubik", sans-serif;
}

.splash .splash-description h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}

.splash .splash-description h3 {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.splash .btn1 {
  background: #F53838;
  border-radius: 10px;
  width: 250px;
  height: 60px;
}

.splash .btn1 h4 {
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

.splash .btn1 .btn2 {
  background: rgba(245, 56, 56, 0.35);
  width: 211.83px;
  height: 60px;
  filter: blur(54px);
  border-radius: 10px;
}

.splash img {
  -ms-flex-pack: right;
      justify-content: right;
}

.box {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 1140px;
  height: 200px;
}

.box .box-description {
  margin: 0 0 0 36px;
  padding-right: 118px;
}

.box .box-description h2 {
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  margin-bottom: 0;
}

.box .box-description h5 {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.box .clients {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  border-right: 2px solid #EEEFF2;
}

.box .clients img {
  width: 55px;
  height: 55px;
}

.box .offices {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  border-right: 2px solid #EEEFF2;
}

.box .offices img {
  width: 55px;
  height: 55px;
}

.box .servers {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.box .servers img {
  width: 55px;
  height: 55px;
}

/*@media (max-width: 767px) {

  }*/
/*# sourceMappingURL=style.css.map */