/*VARIABLES*/
body {
  margin: 0 auto;
  width: 1440px;
  height: 1552px;
}

/*NAV*/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

a {
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo img {
  margin-right: 9px;
}

.logo h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

nav li {
  display: inline-block;
  position: relative;
  margin-right: 48px;
}

nav a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: #4F5665;
  font-size: 16px;
  line-height: 19px;
}

.btn {
  width: 150px;
  height: 45px;
  border: 1px solid #F53855;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F53855;
  background: #FFFFFF;
}

nav .hamburger {
  display: none;
  flex-grow: 0;
}

/*MAIN*/
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.splash {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 83px;
  flex-wrap: wrap;
}

.splash .splash-description {
  font-family: "Rubik", sans-serif;
}

.splash .splash-description h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}

.splash .splash-description h3 {
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-top: 20px;
}

.splash .btn1 {
  width: 250px;
  height: 60px;
  margin-top: 80px;
  background: #F53838;
  border-radius: 10px;
  box-shadow: 0 0 54px  #f63636;
}

.splash h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0 auto;
}

img {
  justify-content: right;
}

.box {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 103px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 1140px;
  height: 200px;
}

.box .box-description {
  margin: 0 0 0 36px;
  padding-right: 118px;
}

.box .box-description h2 {
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  margin-bottom: 0;
}

.box .box-description h5 {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.box .clients {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid #EEEFF2;
}

.box .clients img {
  width: 55px;
  height: 55px;
}

.box .offices {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid #EEEFF2;
}

.box .offices img {
  width: 55px;
  height: 55px;
}

.box .servers {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.box .servers img {
  width: 55px;
  height: 55px;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 177px;
}

.bottom .image {
  margin-top: -350px;
  margin-right: 170px;
}

.bottom .bottom-description {
  margin-right: 150px;
  margin-top: 160px;
}

.bottom .bottom-description h2 {
  font-size: 35px;
  font-family: "Rubik", sans-serif;
  line-height: 50px;
  text-align: left;
  vertical-align: top;
  color: #0B132A;
}

.bottom .bottom-description h3 {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
  color: #4F5665;
}

.bottom .bottom-description ul {
  list-style-image: url("https://i.postimg.cc/D0NQBg51/Group-1120green-ul.png");
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

@media (max-width: 767px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    background: #fff;
    top: 20px;
    width: 100%;
  }
  nav ul.active {
    display: block;
  }
  nav .hamburger {
    display: block;
  }
  .splash {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
  }
  .splash img {
    width: 75%;
    height: 75%;
  }
  .box {
    display: contents;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
  }
  .bottom .image {
    margin: -500px 0 0 0;
  }
  .bottom .bottom-description {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */