body {
  position: relative;
  width: 1440px;
  height: 1552px;
  background: #FFFFFF;
  font-family: 'Rubik', sans-serif;
}

/*LOGO*/
.logo {
  margin-left: 151px;
  margin-top: 46px;
  position: absolute;
}

.logo a {
  position: absolute;
  width: 74px;
  height: 24px;
  left: 37px;
  top: 8px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/*NAVIGATION*/
nav {
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-top: 59px;
  margin-right: 151px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav ul {
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  white-space: nowrap;
}

nav ul li {
  width: 67px;
  height: 19px;
}

.btn1 {
  border: 1px solid #F53855;
  background-color: white;
  color: #F53855;
  box-sizing: border-box;
  border-radius: 50px;
  width: 150px;
  height: 45px;
  left: 1139px;
  top: 46px;
}

.hamburger {
  display: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

/*SPLASH*/
h1 {
  position: absolute;
  width: 555px;
  height: 140px;
  left: 150px;
  top: 206.77px;
  font-family: 'Rubik' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
}

h3 {
  position: absolute;
  width: 555px;
  height: 30px;
  left: 150px;
  top: 366.77px;
  font-family: 'Rubik' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.splash img {
  position: absolute;
  width: 611.24px;
  height: 382.33px;
  left: 745.76px;
  top: 179.23px;
}

section button {
  position: absolute;
  width: 250px;
  height: 85.29px;
  left: 150px;
  top: 476.77px;
}

.btn2 {
  position: absolute;
  width: 250px;
  height: 60px;
  left: 150px;
  top: 476.77px;
  background: #F53838;
  border-radius: 10px;
  color: #FFF;
}

.btn3 {
  position: absolute;
  width: 211.83px;
  height: 60px;
  left: 169.09px;
  top: 502.06px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 10px;
}

/*BOX*/
.box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: absolute;
  width: 1140px;
  height: 200px;
  left: 150px;
  top: 664.55px;
  background: #FFF;
  border-radius: 10px;
}

.shadow-box {
  position: absolute;
  width: 1068.84px;
  height: 189.22px;
  top: 52.8px;
  left: 35.58px;
  background: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  border-radius: 10px;
}

.clients {
  display: -ms-flexbox;
  display: flex;
}

.clients img {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 91px;
  top: 72.5px;
}

.clients p {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 182.5px;
  top: 67.5px;
}

.offices {
  display: -ms-flexbox;
  display: flex;
}

.offices img {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 478.5px;
  top: 72.5px;
}

.offices p {
  position: absolute;
  width: 64px;
  height: 65px;
  left: 570px;
  top: 67.5px;
}

.servers {
  display: -ms-flexbox;
  display: flex;
}

.servers img {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 887px;
  top: 72.5px;
}

.servers p {
  position: absolute;
  width: 71px;
  height: 65px;
  right: 90.5px;
  top: 67.5px;
}

/*BOTTOM*/
.bottom {
  display: -ms-flexbox;
  display: flex;
}

.bottom img {
  position: absolute;
  width: 508.12px;
  height: 1086.57px;
  left: 184.52px;
  top: 288.52px;
}

h2 {
  position: absolute;
  width: 383.41px;
  height: 50px;
  left: 862.12px;
  top: 1064.55px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.bottom h3 {
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 30px;
  width: 427.88px;
  height: 60px;
  left: 862.12px;
  top: 1134.55px;
}

.bottom ul {
  list-style-image: url("https://i.postimg.cc/rFFJJHCy/bx-bxs-check-circlecheck-icon.png");
  font-size: 14px;
  line-height: 30px;
  -ms-flex: column;
      flex: column;
}

@media (max-width: 767px) {
  body {
    display: -ms-flexbox;
    display: flex;
  }
  nav, section {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  nav ul {
    -ms-flex-direction: column;
        flex-direction: column;
    display: none;
    position: absolute;
    background: #fff;
    top: 20px;
    width: 100%;
    box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);
  }
  nav ul .active {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */